In [1]:
import json, glob, boto3, os
import pdb
import pandas as pd
from pandas.io.json import json_normalize

In [6]:
# from https://alexwlchan.net/2019/07/listing-s3-keys/
def get_matching_s3_objects(bucket, prefix="", suffix=""):
    """
    Generate objects in an S3 bucket.

    :param bucket: Name of the S3 bucket.
    :param prefix: Only fetch objects whose key starts with
        this prefix (optional).
    :param suffix: Only fetch objects whose keys end with
        this suffix (optional).
    """
    s3 = boto3.client("s3")
    paginator = s3.get_paginator("list_objects_v2")

    kwargs = {'Bucket': bucket}

    # We can pass the prefix directly to the S3 API.  If the user has passed
    # a tuple or list of prefixes, we go through them one by one.
    if isinstance(prefix, str):
        prefixes = (prefix, )
    else:
        prefixes = prefix

    for key_prefix in prefixes:
        kwargs["Prefix"] = key_prefix

        for page in paginator.paginate(**kwargs):
            try:
                contents = page["Contents"]
            except KeyError:
                return

            for obj in contents:
                key = obj["Key"]
                if key.endswith(suffix):
                    yield obj


def get_matching_s3_keys(bucket, prefix="", suffix=""):
    """
    Generate the keys in an S3 bucket.

    :param bucket: Name of the S3 bucket.
    :param prefix: Only fetch keys that start with this prefix (optional).
    :param suffix: Only fetch keys that end with this suffix (optional).
    """
    for obj in get_matching_s3_objects(bucket, prefix, suffix):
        yield obj["Key"]

In [7]:
session = boto3.Session()
BUCKET_NAME = 'snowbot-pv'

# S3 Connect
s3 = session.resource('s3')

bucket = s3.Bucket(BUCKET_NAME)

In [8]:
DATA_DIR = "./data/"
MERGED_FILENAME = "merged_file.json"
merged_file = DATA_DIR + MERGED_FILENAME

TEST_FILENAME = "test_file.json"
merged_test_file = DATA_DIR + TEST_FILENAME

In [9]:
def merge_matching_jsons(save_file, suffix=""):
    
    result = []

    for f in get_matching_s3_keys(BUCKET_NAME, suffix=suffix):

        # Write the file from S3 into a local temp file
        with open('temp', 'wb') as tfw:
            bucket.download_fileobj(f, tfw)

        # Append the local temp file into the result list
        with open('temp', 'rb') as tfr:          
            result.append(json.load(tfr))

    os.remove("temp")

    # Fill the output file with the merged content
    with open(save_file, "w") as outfile:
         json.dump(result, outfile)
            
# TBD: more efficient to go straight to df w/o saving json to file

In [10]:
def load_merged_json_as_df(merged_file):
    #load the merged json as a dataframe
    with open(merged_file, "r") as f:
        d = json.load(f)
        df = pd.DataFrame.from_dict(json_normalize(d, record_path='lifts', meta='timestamp'))
        return df

In [11]:
def set_lifts_df_datatypes(df):

    # set datatypes for lift table
    df = df.astype({
        "liftID": 'category',
        "resortID": 'category',
        "liftName": 'category',
        "status": 'category',
        "timeToRide": "int"
    })
    df["timestamp"] = pd.to_datetime(df["timestamp"])
    
    return df

In [12]:
def get_status_changes(df):
    '''Returns a dataframe that only includes the times when there was a change to a new status'''
    
    def calc_status_change(df):
        firstrow = df.loc[df['timestamp'].idxmin()]
        change_rows = df[df.status.ne(df.status.shift())]
        keep_df = firstrow.to_frame().T.append(change_rows)
        
        # Remove so that we don't need to write another column to S3 as we scrape?
        # Just calculate it when plotting and predicting?
        # keep_df['time_diff'] = keep_df['timestamp'].diff(1).shift(-1)
        
        return keep_df
        
    
    df = df.groupby('liftName', group_keys=False)\
           .apply(calc_status_change)\
           .reset_index(drop=True)
    
    return df

# TBD: may need to convert timestamp to days (e.g. for Tableau)

In [13]:
merge_matching_jsons(suffix="lifts.json", save_file=merged_file)
lifts_df = load_merged_json_as_df(merged_file)
lifts_df = set_lifts_df_datatypes(lifts_df)

In [14]:
lifts_df['liftName'].unique()

[Blackcomb Gondola Lower, Blackcomb Gondola Upper, Excalibur Gondola Lower, Excalibur Gondola Upper, Excelerator Express, ..., Franz's Chair, Peak Express, Harmony 6 Express, Symphony Express, T-Bars]
Length: 28
Categories (28, object): [Blackcomb Gondola Lower, Blackcomb Gondola Upper, Excalibur Gondola Lower, Excalibur Gondola Upper, ..., Peak Express, Harmony 6 Express, Symphony Express, T-Bars]

In [15]:
lifts_status_changes_df = get_status_changes(lifts_df)
lifts_df['liftName'].unique()

[Blackcomb Gondola Lower, Blackcomb Gondola Upper, Excalibur Gondola Lower, Excalibur Gondola Upper, Excelerator Express, ..., Franz's Chair, Peak Express, Harmony 6 Express, Symphony Express, T-Bars]
Length: 28
Categories (28, object): [Blackcomb Gondola Lower, Blackcomb Gondola Upper, Excalibur Gondola Lower, Excalibur Gondola Upper, ..., Peak Express, Harmony 6 Express, Symphony Express, T-Bars]

**NOTE:** `timeToRide` is just the time is takes to ride the lift, not the current wait time:

In [298]:
lifts_df.groupby("liftName")['timeToRide'].unique()

liftName
7th Heaven Express                 [6]
Big Red Express                    [8]
Blackcomb Gondola Lower            [7]
Blackcomb Gondola Upper            [7]
Catskinner Express                 [4]
Coca-Cola Tube Park                [4]
Creekside Gondola                  [7]
Crystal Ridge Express              [7]
Emerald 6 Express                  [6]
Excalibur Gondola Lower            [3]
Excalibur Gondola Upper            [5]
Excelerator Express                [6]
Fitzsimmons Express                [6]
Franz's Chair                      [8]
Garbanzo Express                   [7]
Glacier Express                    [6]
Harmony 6 Express                  [6]
Horstman T-Bar                     [4]
Jersey Cream Express               [5]
Magic Chair                        [6]
Olympic Chair                      [5]
Peak 2 Peak Gondola               [12]
Peak Express                       [3]
Showcase T-Bar                     [3]
Symphony Express                   [7]
T-Bars                             [5]
Whistler Village Gondola Lower     [5]
Whistler Village Gondola Upper    [11]
Name: timeToRide, dtype: object

In [16]:
# Get status durations
# TBD: optimize if needed via # 3 under:
# https://towardsdatascience.com/pandas-tips-and-tricks-33bcc8a40bb9
df = lifts_status_changes_df.sort_values(by=['liftID', 'timestamp'])
df['time_diff'] = df.groupby('liftID')['timestamp'].diff(1).shift(-1)

# Fill in the durations which will be missing for the most recent status changes
missing_time_diffs_idx = df.loc[(df['time_diff'].isnull()) & (
    df['timestamp'] >= df['timestamp'].min()), 'timestamp'].index.values

df.loc[missing_time_diffs_idx, 'time_diff'] = df['timestamp'].max(
) - df.loc[missing_time_diffs_idx, 'timestamp']

# Convert to seconds
df['time_diff_seconds'] = df['time_diff'].dt.total_seconds()

In [17]:
df

,liftID,resortID,liftName,status,timeToRide,timestamp,time_diff,time_diff_seconds
0,3,13,7th Heaven Express,X,6,2020-01-03 00:19:09.631011-08:00,1 days 13:59:59.794440,136799.794440
1,3,13,7th Heaven Express,O,6,2020-01-04 14:19:09.425451-08:00,0 days 00:29:59.297179,1799.297179
2,3,13,7th Heaven Express,X,6,2020-01-04 14:49:08.722630-08:00,0 days 22:00:01.500183,79201.500183
3,3,13,7th Heaven Express,O,6,2020-01-05 12:49:10.222813-08:00,0 days 01:59:58.326201,7198.326201
4,3,13,7th Heaven Express,X,6,2020-01-05 14:49:08.549014-08:00,0 days 18:56:18.469982,68178.469982
...,...,...,...,...,...,...,...,...
640,72,13,Whistler Village Gondola Upper,O,11,2020-01-11 08:15:30.627992-08:00,0 days 06:59:55.821512,25195.821512
641,72,13,Whistler Village Gondola Upper,X,11,2020-01-11 15:15:26.449504-08:00,0 days 16:29:59.883415,59399.883415
642,72,13,Whistler Village Gondola Upper,H,11,2020-01-12 07:45:26.332919-08:00,0 days 00:30:00.341306,1800.341306
643,72,13,Whistler Village Gondola Upper,O,11,2020-01-12 08:15:26.674225-08:00,0 days 06:59:59.933867,25199.933867
644,72,13,Whistler Village Gondola Upper,X,11,2020-01-12 15:15:26.608092-08:00,0 days 02:00:03.602429,7203.602429

In [18]:
df.dtypes

liftID                                               object
resortID                                             object
liftName                                             object
status                                               object
timeToRide                                           object
timestamp            datetime64[ns, pytz.FixedOffset(-480)]
time_diff                                   timedelta64[ns]
time_diff_seconds                                   float64
dtype: object

In [19]:
# Uses locale date formatting, otherwise Tableau will mix up month and day
# alternatively, can export to json:
# lifts_status_changes_df.to_json(DATA_DIR + "lifts_status_changes.json", orient='table')
df.to_csv(DATA_DIR + "lifts_status_changes.csv", date_format='%c')

In [9]:
# add:
# 
# daily: for each chair calculate most open status of the day: O > H > X
# Days since each chair was last seen open with timestamp of most recent open time.
# snowfall since last open
# save data for other mountains

# Storage options testing

In [11]:
df.to_pickle(DATA_DIR + "df_test.pkl")

In [ ]:
from fastparquet import write

# parquet engines don't handle shifted timezones
import pytz
TZ = pytz.timezone('America/Vancouver')
df['timestamp'] = df.timestamp.dt.tz_convert(pytz.utc)

In [ ]:
# Note: May need snappy-python as a req to run on AWS Lambda
df.to_parquet(DATA_DIR + "df_test.parquet", engine='fastparquet')

In [35]:
load_df = pd.read_parquet(DATA_DIR + "df_test.parquet")
load_df['timestamp'] = load_df.timestamp.dt.tz_convert(TZ) # convert back to correct timezone

In [37]:
#TBD convert back to correct datatypes
load_df.dtypes

liftID                                    int64
resortID                                  int64
liftName                                 object
status                                   object
timeToRide                                int64
timestamp     datetime64[ns, America/Vancouver]
dtype: object

In [16]:
df.to_csv(DATA_DIR + "df_test.csv")

Test file size results:
- json: 800 Kb?
- csv: 474 Kb
- pickle: 145 Kb
- parquet: 15 Kb

## Delta Lake Testing

Requires apache spark instance.  For future use, could set one up to work with lambda using https://aws.amazon.com/emr/features/spark/?

Otherwise databricks (similar to QxMD project)

# json comparison

In [484]:
merge_matching_jsons(suffix="test.json", save_file=merged_test_file)
df_test = load_merged_json_as_df(merged_test_file)
df_test = set_lifts_df_datatypes(df_test)
lifts_status_changes_df_test = get_status_changes(df_test)

In [485]:
lifts_status_changes_df.append(lifts_status_changes_df_test)

,liftID,resortID,liftName,status,timeToRide,timestamp
0,3,13,7th Heaven Express,X,6,2020-01-03 00:19:09.631011-08:00
1,3,13,7th Heaven Express,O,6,2020-01-04 14:19:09.425451-08:00
2,3,13,7th Heaven Express,X,6,2020-01-04 14:49:08.722630-08:00
3,3,13,7th Heaven Express,O,6,2020-01-05 12:49:10.222813-08:00
4,3,13,7th Heaven Express,X,6,2020-01-05 14:49:08.549014-08:00
...,...,...,...,...,...,...
24,12,13,Showcase T-Bar,X,3,2020-01-03 00:19:09.631011-08:00
25,42,13,Symphony Express,X,7,2020-01-03 00:19:09.631011-08:00
26,41,13,T-Bars,X,5,2020-01-03 00:19:09.631011-08:00
27,33,13,Whistler Village Gondola Lower,X,5,2020-01-03 00:19:09.631011-08:00
28,72,13,Whistler Village Gondola Upper,X,11,2020-01-03 00:19:09.631011-08:00

In [ ]:
# Get current lift status info json
# retrieve prior lift status info json
# if current == prior end
    # else:
        # merge_json(current and prior)
        # get status changes
        # append status changes to S3 lift history parquet table (create if it doesn't exist)
            # append via https://github.com/pandas-dev/pandas/issues/20638#issuecomment-386754025 ?
        # save current lift status info json as prior

In [ ]:
from fastparquet import write
import os

os.chdir("./snowbot_AWS_lambda/")
from scrape import get_data
os.chdir("..")

# parquet engines don't handle shifted timezones
import pytz
TZ = pytz.timezone('America/Vancouver')

In [49]:
df.dtypes

liftID                   category
resortID                 category
liftName                 category
status                   category
timeToRide                  int64
timestamp     datetime64[ns, UTC]
dtype: object

In [83]:
from fastparquet import write, ParquetFile
import s3fs
fs = s3fs.S3FileSystem()
myopen = fs.open
nop = lambda *args, **kwargs: None


fname = 'wb_lifts_history'


def write_dataframe_to_parquet_on_s3(df, fname):
    """ Write a dataframe to a Parquet on S3.  Creates a new parquet file if one doesn't already exist."""
    df.loc[:, 'timestamp'] = df.loc[:, 'timestamp'].dt.tz_convert(pytz.utc)

    def write_parquet(df, fname, app=True):
        try:
            output_file = f"s3://{BUCKET_NAME}/{fname}.parquet"
            write(output_file,
                  df,
                  partition_on=['timestamp'],
                  file_scheme='hive',
                  append=app,  # need to remove or catch exception to work when file doesn't exist
                  open_with=myopen,
                  mkdirs=nop)
        except FileNotFoundError:
            print("File {} not found.  Creating file.".format(fname))
            write_parquet(df, fname, app=False)
        except:
            raise
        else:
            print("Writing {} records to {}".format(len(df), fname))

    write_parquet(df, fname)

In [85]:
# test.  remove
write_dataframe_to_parquet_on_s3(df[5:10].copy(), fname)

Writing 5 records to wb_lifts_history

In [66]:
def jsons_to_df(jsons):
    # repeats. functionize first occurace?
    return pd.DataFrame.from_dict(json_normalize(jsons, record_path='lifts', meta='timestamp'))

In [22]:
# Get current lift status info json
lifts_current = get_data()['lifts'] # String.  
lifts_current_json = json.loads(lifts_current)

In [89]:
# retrieve prior lift status info json

import botocore


def save_prior(json_data):
    bucket.put_object(Key="lifts_prior.json", Body=bytes(json.dumps(json_data).encode('UTF-8')))


lifts_prior_object = s3.Object(BUCKET_NAME, 'lifts_prior.json')
lifts_history_object = s3.Object(BUCKET_NAME, 'lifts_history.json')

try:
    lifts_prior_object.load()
except botocore.exceptions.ClientError as e:
    if e.response['Error']['Code'] == "404":

        print("Prior doesn't exist")
        save_prior(lifts_current_json)  # Create the prior file
        print("Created PRIOR_FILENAME_TBD")
    else:
        # Something else has gone wrong.
        raise
else:
    # The prior exists
    file_content = lifts_prior_object.get()['Body'].read().decode('utf-8')
    json_content = json.loads(file_content)
    print("loaded prior json data from S3")
    
    # compare jsons without their timestamps
    if json_content['lifts'] == lifts_current_json['lifts']:
        print("No differences between current and prior data were found.")
    else:
        # Get a df with the status chages between the prior and current json data
        df = jsons_to_df([json_content, lifts_current_json])
        df = set_lifts_df_datatypes(df) # TBD add to jsons_to_df
        df = get_status_changes(df)
        df = set_lifts_df_datatypes(df) # TBD add to jsons_to_df
        print("Found differences")
        write_dataframe_to_parquet_on_s3(df, fname)
        
        # save current lift status info json as prior
        save_prior(lifts_current_json)
        print("Updated {} with current data.".format(lifts_prior_object.key))

loaded prior json data from S3
No differences between current and prior data were found.

In [96]:
# load the parquet file


def load_dataframe_from_parquet_on_s3(fname):
    """ Load a dataframe from a Parquet on S3. """
    read_file = f"s3://{BUCKET_NAME}/{fname}.parquet"
    pf = ParquetFile(read_file, open_with=myopen)
    df = pf.to_pandas()

    # Reshift the timezone because parquet engines don't handle shifted timezones
    df['timestamp'] = df.timestamp.dt.tz_convert(TZ)
    df = set_lifts_df_datatypes(load_df)
    return df


load_dataframe_from_parquet_on_s3(fname)

,liftID,resortID,liftName,status,timeToRide,timestamp
0,3,13,7th Heaven Express,X,6,2020-01-10 16:16:41.775318-08:00
1,36,13,Big Red Express,X,8,2020-01-12 20:26:40.954265-08:00
2,69,13,Blackcomb Gondola Lower,X,7,NaT
3,70,13,Blackcomb Gondola Upper,X,7,NaT
4,9,13,Catskinner Express,X,4,NaT
...,...,...,...,...,...,...
93,33,13,Whistler Village Gondola Lower,X,5,NaT
94,72,13,Whistler Village Gondola Upper,X,11,NaT
95,14,13,Coca-Cola Tube Park,X,4,NaT
96,5,13,Excalibur Gondola Lower,X,3,NaT
97,6,13,Magic Chair,X,6,NaT

### Testing local parquet saves

In [31]:
def save_parquet(df, fname):
    # parquet engines don't handle shifted timezones
    df.loc[:, 'timestamp'] = df.loc[:, 'timestamp'].dt.tz_convert(pytz.utc)

    # Note: May need snappy-python as a req to run on AWS Lambda
    df.to_parquet(DATA_DIR + fname + '.parquet',
                  engine='fastparquet',
                  partition_on=['timestamp'],
                  file_scheme='mixed')

In [91]:
save_parquet(df[0:3].copy(), 'wb_lifts_history')

In [92]:
df.iloc[20:22, :].copy().to_parquet(DATA_DIR + 'wb_lifts_history' + '.parquet',
              engine='fastparquet',
              partition_on=['timestamp'],
              file_scheme='mixed',
              append=True)
# Catch exception that is doesn't exist here

In [ ]:
# todo: change time_diff to "duration"
# test on lambda
# make datatype dict for and general set datatypes function